Servidor/flowchart.json
[{"id":"eb4b356c.a75ff8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"38134dd0.a62192","type":"udp in","z":"eb4b356c.a75ff8","name":"node-receiver","iface":"","port":"8888","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":110,"y":40,"wires":[["98b5513e.84c2e","ee2c1f25.8d97c"]]},{"id":"98b5513e.84c2e","type":"json","z":"eb4b356c.a75ff8","name":"","property":"payload","action":"str","pretty":false,"x":290,"y":40,"wires":[["f3b01292.c68fa","fd765708.26ac48"]]},{"id":"f3b01292.c68fa","type":"function","z":"eb4b356c.a75ff8","name":"getData","func":"var obj = JSON.parse(msg.payload);\nvar id = {payload: obj.id};\nvar vin = {payload: obj.vin};\nvar co = {payload: obj.co};\nvar nox = {payload: obj.nox};\nvar pm = {payload: obj.pm};\nvar position = {payload: \n    {\"name\": obj.vin, \n    \"lat\": 40.452828,//obj.lat, \n    \"lon\": -3.726965,//obj.long, \n    \"icon\":\":car:\",\n    \"trackpoints\": 30}\n};\n/*var lat = {payload: obj.lat};\nvar long = {payload: obj.long};*/\n\n/*\nvar msg1 = {payload: id};\nvar msg2 = {payload: vin};\nvar msg3 = {payload: coppert};\nvar msg4 = {payload: moves};\nvar msg5 = {payload: lat};\nvar msg6 = {payload: long};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];*/\n\nreturn [id, vin, co, nox, pm, position];","outputs":6,"noerr":0,"x":500,"y":120,"wires":[["2e2be9b4.ef6c26"],["f990faa3.c82188"],["10d5c673.0e688a"],["769b8141.252ae"],["7b943a3c.390824"],["7caea57b.82f66c","329ff5f3.ded03a"]]},{"id":"2e2be9b4.ef6c26","type":"ui_text","z":"eb4b356c.a75ff8","group":"fc4342fc.3ded2","order":0,"width":0,"height":0,"name":"Identifier","label":"STN identifier","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":40,"wires":[]},{"id":"f990faa3.c82188","type":"ui_text","z":"eb4b356c.a75ff8","group":"fc4342fc.3ded2","order":1,"width":0,"height":0,"name":"VIN","label":"VIN","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":100,"wires":[]},{"id":"329ff5f3.ded03a","type":"worldmap","z":"eb4b356c.a75ff8","name":"map","lat":"40.452521","lon":"-3.727858","zoom":"15","layer":"OSM grey","cluster":"","maxage":"600","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"/worldmap","x":1130,"y":160,"wires":[]},{"id":"a25d1910.946588","type":"ui_template","z":"eb4b356c.a75ff8","group":"fc4342fc.3ded2","name":"","order":2,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":640,"wires":[[]]},{"id":"5d8c2542.53d34c","type":"inject","z":"eb4b356c.a75ff8","name":"","topic":"","payload":"/worldmap","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":640,"wires":[["10bdd206.f772ee"]]},{"id":"10bdd206.f772ee","type":"template","z":"eb4b356c.a75ff8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=500px width=500px ></iframe>","output":"str","x":300,"y":640,"wires":[["a25d1910.946588"]]},{"id":"ee2c1f25.8d97c","type":"debug","z":"eb4b356c.a75ff8","name":"rawData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":200,"y":380,"wires":[]},{"id":"fd765708.26ac48","type":"debug","z":"eb4b356c.a75ff8","name":"JSONformat","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":360,"wires":[]},{"id":"bc71a651.2fb508","type":"debug","z":"eb4b356c.a75ff8","name":"position","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":420,"wires":[]},{"id":"7caea57b.82f66c","type":"worldmap-tracks","z":"eb4b356c.a75ff8","name":"","depth":20,"layer":"separate","x":710,"y":200,"wires":[["bc71a651.2fb508","c8e82e70.4a50b"]]},{"id":"c8e82e70.4a50b","type":"function","z":"eb4b356c.a75ff8","name":"setName","func":"msg.payload.name = msg.payload.name.substring(0, msg.payload.name.length-1);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":200,"wires":[["329ff5f3.ded03a"]]},{"id":"10d5c673.0e688a","type":"ui_gauge","z":"eb4b356c.a75ff8","name":"coEmissions","group":"4f3db0b1.26472","order":3,"width":0,"height":0,"gtype":"gage","title":"CO","label":"gramos","format":"{{value}}","min":0,"max":"0.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":60,"wires":[]},{"id":"769b8141.252ae","type":"ui_gauge","z":"eb4b356c.a75ff8","name":"noxEmissions","group":"4f3db0b1.26472","order":4,"width":0,"height":0,"gtype":"gage","title":"NOx","label":"gramos","format":"{{value}}","min":0,"max":"0.1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":100,"wires":[]},{"id":"7b943a3c.390824","type":"ui_gauge","z":"eb4b356c.a75ff8","name":"pmEmissions","group":"4f3db0b1.26472","order":5,"width":0,"height":0,"gtype":"gage","title":"PM","label":"gramos","format":"{{value}}","min":0,"max":"2.5e-4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":140,"wires":[]},{"id":"fc4342fc.3ded2","type":"ui_group","z":"","name":"Vehicle Data","tab":"26907397.b0a04c","disp":true,"width":"12","collapse":false},{"id":"4f3db0b1.26472","type":"ui_group","z":"","name":"Emisiones","tab":"26907397.b0a04c","disp":true,"width":"6","collapse":false},{"id":"26907397.b0a04c","type":"ui_tab","z":"","name":"Data","icon":"settings_input_antenna","disabled":false,"hidden":false}]